{% extends 'base.html' %}

{% block content %}
<div>
    <h1>{% block title %} What Is the Vibe Quiz?{% endblock %}</h1>
    <p>{% block body1 %} Mood and sensory experiences are inherently dependent on each other. 
        Inspiration can be obtained from a variety of sources, such as movies and shows, but such sources can be unpredictable.
        We want to provide our users with recommendations for themes and sensory inputs to achieve a target state of mind, or explore relationships between various experiences.
        We want to make it easier for people to find and define inspiration!
        {% endblock %}</p>
    <p>{% block body2 %} To start: fill out our Quiz in the Quiz tab to be inspired.
        {% endblock %}</p>
</div>
{% endblock %}