{% extends 'base.html' %}

{% block content %}

<div>
    <!-- refrences https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-vi-profile-page-and-avatars -->
    <h1>Name: {{ userinfo['displayName'] }}</h1>
    <p>Birthday: {{userinfo["birthday"]}} </p>
    <p>Email: {{userinfo["email"]}} </p>
    <p>Bio: {{userinfo["bio"]}} </p>
    <a href="{{ url_for('_editprofile',username=username) }}">Edit your profile</a>
    <hr>

    <h1>{% block title %} Profile {% endblock %}</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Results</th>
                <th scope="col">Mood</th>
                <th scope="col">Color</th>
                <th scope="col">Shape</th>
                <th scope="col">Scent</th>
                <th scope="col">Taste</th>
                <th scope="col">Music</th>
                <th scope="col">Media</th>
    
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <th scope="row">{{ result["number"]}}</th>
                <td>{{ result['mood']}}</td>
                <td>{{ result['color'] }}</td>
                <td>{{ result['shape'] }}</td>
                <td>{{ result['scent'] }}</td>
                <td>{{ result['taste'] }}</td>
                <td>{{ result['music'] }}</td>
                <td>{{ result['media'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}