{% extends 'base.html' %}

{% block content %}
<div>
    <h1>{% block title %} Quiz {% endblock %}</h1>
    <!-- Q1 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Mood</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> 
                <label class="options">option1<input type="radio" name="radio"> <span class="checkmark"></span> </label>
                <label class="options">option2 <input type="radio" name="radio"> <span class="checkmark"></span> </label>
                <label class="options">option3 <input type="radio" name="radio"> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>
    <!-- Q2 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Color</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">option1<input type="radio" name="radio2"> <span class="checkmark"></span> </label>
                <label class="options">option2 <input type="radio" name="radio2"> <span class="checkmark"></span> </label>
                <label class="options">option3 <input type="radio" name="radio2"> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>
    <!-- Q3 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Shape</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">option1<input type="radio" name="radio3"> <span class="checkmark"></span> </label>
                <label class="options">option2 <input type="radio" name="radio3"> <span class="checkmark"></span> </label>
                <label class="options">option3 <input type="radio" name="radio3"> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>
    <!-- Q4 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Scent</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">option1<input type="radio" name="radio4"> <span class="checkmark"></span> </label>
                <label class="options">option2 <input type="radio" name="radio4"> <span class="checkmark"></span> </label>
                <label class="options">option3 <input type="radio" name="radio4"> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>
    <!-- Q5 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Taste</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">option1<input type="radio" name="radio5"> <span class="checkmark"></span> </label>
                <label class="options">option2 <input type="radio" name="radio5"> <span class="checkmark"></span> </label>
                <label class="options">option3 <input type="radio" name="radio5"> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>
    <!-- Q6 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Music</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">option1<input type="radio" name="radio6"> <span class="checkmark"></span> </label>
                <label class="options">option2 <input type="radio" name="radio6"> <span class="checkmark"></span> </label>
                <label class="options">option3 <input type="radio" name="radio6"> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>
    <!-- Q7 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Media</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">option1<input type="radio" name="radio7"> <span class="checkmark"></span> </label>
                <label class="options">option2 <input type="radio" name="radio7"> <span class="checkmark"></span> </label>
                <label class="options">option3 <input type="radio" name="radio7"> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>

    <div class="container mt-sm-5 my-1 flex-box text-right">
        <button type="button" class="btn btn-default btn-primary">View</button>
    </div>
    <div class="container mt-sm-5 my-1 flex-box text-right">
        
        <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="{{
                  request.form.username }}">
            <input class="btn btn-default btn-primary" type="save" value="View and Save">
        </form>
    </div>
</div>
    {% endblock %}