{% extends 'base.html' %}

{% block content %}
<div>
<form action="" method="post">
    <h1>{% block title %} Quiz {% endblock %}</h1>
    <!-- Q1 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Mood (*Required)</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> 
                {% for mood in moods %}
                    <label class="options">{{mood['name']}}<input type="radio" name="mood" value = "{{mood['name']}}"> <span class="checkmark"></span> </label>
                {%endfor%}
            </div>
        </div>
    </div>
    <!-- Q2 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Color</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                {% for color in colors %}
                <label class="options">{{color['name']}}<input type="radio" name="color" value = "{{color['name']}}"> <span class="checkmark"></span> </label>
                {%endfor%}
                <label class="options">Pick for me!<input type="radio" name="color" value = "" checked> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>
    <!-- Q3 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Shape</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                {% for shape in shapes %}
                <label class="options">{{shape['name']}}<input type="radio" name="shape" value = "{{shape['name']}}"> <span class="checkmark"></span> </label>
                {%endfor%}
                <label class="options">Pick for me!<input type="radio" name="shape" value = "" checked> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>
    <!-- Q4 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Scent</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                {% for scent in scents %}
                <label class="options">{{scent['name']}}<input type="radio" name="scent" value = "{{scent['name']}}"> <span class="checkmark"></span> </label>
                {%endfor%}
                <label class="options">Pick for me!<input type="radio" name="scent" value = "" checked> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>
    <!-- Q5 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Taste</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                {% for taste in tastes %}
                <label class="options">{{taste['type']}}<input type="radio" name="taste" value = "{{taste['type']}}"> <span class="checkmark"></span> </label>
                {%endfor%}
                <label class="options">Pick for me!<input type="radio" name="taste" value = "" checked> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>
    <!-- Q6 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Music</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                {% for m in music_genres %}
                <label class="options">{{m['name']}}<input type="radio" name="music_genre" value = "{{m['name']}}"> <span class="checkmark"></span> </label>
                {%endfor%}
                <label class="options">Pick for me!<input type="radio" name="music_genre" value = "" checked> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>
    <!-- Q7 -->
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Media</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                {% for m in media_genres %}
                <label class="options">{{m['name']}}<input type="radio" name="media_genre" value = "{{m['name']}}"> <span class="checkmark"></span> </label>
                {%endfor%}
                <label class="options">Pick for me!<input type="radio" name="media_genre" value = "" checked> <span class="checkmark"></span> </label>
            </div>
        </div>
    </div>
    <div class="container mt-sm-5 my-1 flex-box text-right">
        
        
        <input type="text" placeholder="Username" name="username" value="{{
                request.form.username }}">
        <button class="btn btn-primary" type="submit" name="vands" value="vands"> View and Save </button>
        
    </div>
</form>
</div>
    {% endblock %}